extends ../../layout/main-headers

block variables
  - var title = 'UI kit Toxin hotel Headers & Footers';
  - var description = 'Description UI kit Toxin hotel Headers & Footers';
  - var pageClass = 'page-headers-footers';




block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }