extend  ../../layout/ui-kit

block variables
 - var title = 'Headers and Footers';
 - var description = 'Headers and Footers Description';
 - var pageClass = 'headers-and-footers';

block content
 include ../../modules/nav-bar/nav-bar
 include ../../modules/logged-nav-bar/logged-nav-bar


block script
 script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }