ul.tag.page-tag
 li.tag__item
  .tag__name.tag__name--h1 H1
  .tag__description.tag__description--h1 This one is the sub-section or widget title
 li.tag__item
  .tag__name.tag__name--h2 H2
  .tag__description.tag__description--h2 Next one is the item title inside widgets
 li.tag__item
  .tag__name.tag__name--h3 H3
  .tag__description.tag__description--h3 This is a label or CTA text
 li.tag__item
  .tag__name.tag__name--body Body
  .tag__description.tag__description--body This is the body text which is used for most of the design, like paragraphs, lists, etc.