extend ../../layout/ui-kit

block variables
 - var title = 'Cards';
 - var description = 'Cards description';
 - var pageClass = 'cards';

 block content



block script
 script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }