.page-palette {
    position: absolute;
    top: 145px;
    left: 149.74px;
  }
  
.page-tag {
    position: absolute;
    top: 145px;
    left: 846px; 
  }
  
.page-headers-footers {
    width: 1440px;
    height: 1350px;
    background: #F4F4F6;
  }
  
  // Modules
  // @import "modules/my-module.scss";
  @import "../../modules/logo/logo.scss";
  @import "../../modules/palette/palette.scss";
  @import "../../modules/tags/tags.scss";

  
 