ul.palette.page-palette
 li.palette__item
  .palette__img.palette__img--dark-shade-100
  .palette__name
   b Dark Shade 100%
   br
   |#1F2041
 li.palette__item
  .palette__img.palette__img--dark-shade-75
  .palette__name
   b Dark Shade 75%
   br
   |#1F2041  
 li.palette__item
  .palette__img.palette__img--dark-shade-50
  .palette__name
   b Dark Shade 50%
   br
   |#1F2041  
 li.palette__item
  .palette__img.palette__img--dark-shade-25
  .palette__name
   b Dark Shade 25%
   br
   |#1F2041  
 li.palette__item
  .palette__img.palette__img--dark-shade-5
  .palette__name
   b Dark Shade 5%
   br
   |#1F2041  
 li.palette__item
  .palette__img.palette__img--purple
  .palette__name
   b Purple
   br
   |#BC9CFF
 li.palette__item
  .palette__img.palette__img--green
  .palette__name
   b Green 
   br
   |#6FCF97